<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       xmlns:tx="http://www.springframework.org/schema/task">
        <!--1.-->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
                <property name="configLocation" value="WEB-INF/hibernate.cfg.xml">
                </property>

        </bean>

        <!--2.-->
        <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
                <property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate" >
                <property name="sessionFactory" ref="sessionFactory"></property>
                <property name="checkWriteOperations" value="false"/>
        </bean>

        <!--3.-->
        <tx:annotation-driven proxy-target-class="true"></tx:annotation-driven>
        <!-- ✨扫描注解 -->
        <context:component-scan base-package="com.ssh.*"></context:component-scan>
</beans>