<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 数据库用户名 -->
        <property name="connection.username">root</property>
        <!-- 数据库用户密码 -->
        <property name="connection.password">root</property>
        <!-- 驱动类 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 数据库URL -->
        <property name="connection.url">jdbc:mysql://localhost:3306/tes</property>
        <!-- 数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- 是否在SessionFactory创建后，自动创建数据库表，none/create/create-drop/update-->
        <property name="hbm2ddl.auto">validate</property>
        <!-- 是否把执行的SQL语句输出到控制台 -->
        <property name="show_sql">true</property>
        <!-- 是否把控制台SQL语句格式化 -->
        <property name="format_sql">true</property>
        <property name="connection.autocommit">true </property>

        <!--让hibernate知道我配置的哪些映射文件在哪里-->
        <mapping class="com.ssh.modle.User"></mapping>
    </session-factory>
</hibernate-configuration>